.section1{
    display: grid;
}

.section1__contents{
   
    display: grid;
    gap: 10px;
}

.section1__contents--text{
    font-family: var(--ff-1);
    font-size: var(--sub);
    color: var(--color-dark-75);
}

.section1__images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;   
}

.section1__btn{
    justify-self: center;
}

@media(max-width: 568px){
    .section1__images{
        grid-template-columns: repeat(1, 1fr);
    }
    
}